# Documentation
HELP.md

# Build output
target/
build/

# Keep Maven wrapper JARs
!.mvn/wrapper/maven-wrapper.jar

# Allow target/build under src
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Visual Studio Code
.vscode/

# Operating System
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env

#Upload dir
uploads/
#Taskfile
Taskfile.yml
#docker-compose
docker-compose.yml